
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mi Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
      <div class="offcanvas-body">
        
              <!-- <h5 class="text-center">Copiar link</h5> -->
              
                 <app-btn-logout></app-btn-logout>
         
      
      </div>
      <div class="offcanvas-footer ms-3">
        <app-btn-eliminar-cuenta [persona]="persona"  [redes]="redes"></app-btn-eliminar-cuenta>
      </div>