<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-carga></app-carga>
</div>

<ng-template #loaded>
    <nav class="navbar navbar-expand-lg navbar-light alert alert-info mx-4 rounded-pill d-flex justify-content-between">
    
        <div class="ms-3 d-flex align-items-center">        
            <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/YZPYZPW/OneLink.png" alt="">
            </a>
            
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            
                <a class="nav-link" href="#">Redes</a>
    
                <a class="nav-link" href="#">Estilos</a>
    
                <a class="nav-link" target="_blank" routerLink="/{{profileJson.nickname}}" >Mi Link</a>
            
        </div>  
        <div class="d-flex align-self-center me-4">
         
            <app-btn-logout></app-btn-logout>
            
            
        </div>
    
    </nav>

    <h1 class="mt-5 text-center"> Hola {{persona[0].nombre}} {{persona[0].apellido}} </h1>

    <div class="container">
    <h3 class="ms-5 mt-3">Estas son tus redes:</h3>
        <div class="mt-5">
            <div *ngFor="let red of redes" class="d-grid gap-2 col-6 mx-auto">
                <button class=" d-flex btn btn-primary my-2" type="button">
                    <div class=" mx-auto ">{{red.nombre_red}} </div>
                
                    <app-btn-edit *ngIf="auth.isAuthenticated$ | async"> </app-btn-edit>     
                    
                </button>
            </div>    
        </div>
    </div>
</ng-template>
