<body *ngIf="!loading" class="container-fluid " style="background: inherit">
  <app-usuario-nav  [persona]="persona[0]"></app-usuario-nav>
  <app-usuario-header [persona]="persona[0]"></app-usuario-header>
  <app-usuario-body [idpersonas]="persona[0].idpersonas"></app-usuario-body>

</body>

 <div class="mt-5">
  <app-usuario-footer [persona]="persona[0]"></app-usuario-footer>
</div>




  <div *ngIf="loading" class=" d-flex justify-content-center" id="espera">
    <app-carga></app-carga>
  </div>