<nav class="navbar sticky-top navbar-light alert alert-info mx-4 rounded-pill">

    <div class="ms-3 d-flex align-items-center">
      <a class="navbar-brand" routerLink="/">
        <img class = "img-fluid" src="https://i.ibb.co/YZPYZPW/OneLink.png" alt="">
       </a>        
    
      </div> 
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
            <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
          
          </svg>
        </button>
   
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbarLabel">
          
          <app-side-bar [persona]="persona"></app-side-bar>
        </div>
    
  </nav>

  