<div>

    <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-outline-light btn-rounded">
              PONER FORMULARIO DE CONTACTO
             </button>
            </p>
            <span class="me-3">OTRAS MANERAS DE CONTACTARNOS (BOTON) </span>
            
           
                    <span> &nbsp;  &nbsp;  &nbsp;            © 2021 Copyright: </span>
            <a class="text-white" href="#">La Pueblada</a>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
<!--    Copyright -->
      <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.993);">
        © 2021 Copyright:
        <a class="text-white" href="#">La Pueblada</a>
      </div> --> ♥
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
  
  </div>
  
<!-- <div style="text-align: center">
<p>firuletes, link al nav... copy... Argentina</p>
</div> -->
