/* .solar-theme{
    background-color: #B58900;
}

.united-theme{
    background-color: #E95420;
}

.vapor-theme{
    background-color: #6f42c1;
}

.darkly-theme{
    background-color: #375a7f;
}

.slate-theme{
    background-color: #3a3f44;
}

.lux-theme{
    background-color: #1a1a1a;
}

.oscuro{
    background: #000000;  
background: -webkit-linear-gradient(to bottom, #434343, #000000);  
background: linear-gradient(to bottom, #434343, #000000); 

  } */