<pre>
    In HTML, the pre tag   keeps all     spaces and     line breaks    intact.
    
  
            oOOOOOOOOOOOOOOOO *OOOOOOOOOOOOo
        oOOOOOOOOOOO      OOOOOOOOOOOO      OOOOOOOOOOOOo
        oOOOOOOOOOOOOo  oOOOOOOOOOOOOOOo  oOOOOOOOOOOOOOo
       oOOOO     OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO     OOOOo
       oOOOOOO OOOOOOOOOOOOOOOOOOOOOO*
              OOOOOOOOoOOOOOOOOOOO*  oOOOOOOOO*
                 OOOOOOOOo           oOOOOOOOO
                     OOOOOOOOOOOOOOOOOOOOO
                          ""ooooooooo""
    </pre>

<!-- <div style="text-align: center">
<p> ACA VA EL BANNER/LOGO DEL CLIENTE</p>
</div> -->
