<app-user-nav [persona]=persona></app-user-nav>

<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-carga></app-carga>
</div>


<ng-template #loaded>

<body class="mt-5"> 
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-8">                
                <div class="d-flex form-switch form-check ms-0 ps-0 ">
                    <label class="order-0 form-check-label" for="flexSwitchCheckDefault">Modo Oscuro</label>
                    <input class="ms-3 order-1 form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (click)="modoOscuroSwitch()">                   
                </div>
                <hr>  
                <button id="default" class="btn btn-secondary" (click)="onSetTheme('default-theme')">Select default</button>
                <hr>
                <button id="solar" class="btn btn-secondary" (click)="onSetTheme('solar-theme')">Select Solar</button>
                <hr>
                <button id="united" class="btn btn-secondary" (click)="onSetTheme('united-theme')">Select United</button>
                <hr>
                <button id="vapor" class="btn btn-secondary" (click)="onSetTheme('vapor-theme')">Select Vapor</button>
                <hr>
                <button id="dark" class="btn btn-secondary" (click)="onSetTheme('darkly-theme')">Select Darkly</button>
                <hr>
                <button id="dark" class="btn btn-secondary" (click)="onSetTheme('slate-theme')">Select Slate</button>

            </div>

            <div class="container col-4 movil border border-5 rounded-5 position-relative flex-wrap" [ngClass]="{'oscuro': modoOscuro}">
             
                <app-usuario-cuerpo-principal class="pt-5 mt-5" [persona]="persona[0]" ></app-usuario-cuerpo-principal>  
                <app-usuario-footer class="position-absolute bottom-0 start-50 translate-middle-x w-100" [persona]="persona[0]"></app-usuario-footer>
            </div>



        </div>
    </div>


</body>

<app-footer class="fixed-bottom"></app-footer>

</ng-template>
