body{   
    min-height: 80vh;
}

.movil{
    height: 70vh;
}

#solar{
    background-color: #B58900;
}

#united{
    background-color: #E95420;
}

#vapor{
    background-color: #6f42c1;
}

#default{
    background-color: #0d6efd;
}

#default{
    background-color: #0d6efd;
}