footer{
    color: #1f1c1c;
    font-size: 14px;
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
    box-shadow: 2px -2px 5px #999 ;
    //z-index: 1;
    background-color:white;
    
}

p{
    margin: 0;
}

.img-1{
    width: 8%;
}

img.img-2{
    width: 3rem;
    
}
