
<app-nav></app-nav>

<body class="d-lg-flex align-items-center ">
    <p class="fs-3 mx-3 mt-5 mx-5 lh-base">
        Por el Junio del año 2022 un grupo de compañeros, estudiantes que estabamos terminando el ultimo nivel de Argentina Programa, nos juntamos para poder mejorar nuestras capacidades de tecnica de programacion , creando practicas particulares en distintos proyectos donde termino en la creacion de Pueblada Factory. Una Startup por la cual nos dedicamos al desarrallo de proyectos tecnologicos, para todo tipo de infraestructura, en cualquier ambiente que se requiera la implementacion de sistemas informaticos donde codificacion de programacion sea necesaria para la creacion de nuevos productos a medida de cada cliente. Nos encontramos desarrollando nuevos sistemas segun requerimientos especificos de cada empresa, donde se realiza la implementacion y posterior capacitacion al cliente de la utilizacion del sistema requerido. Dando soporte necesario para acompañar a lo largo de la utilizacion de los sistemas realizadoas para cada empresa.
    </p>
</body>

<app-footer class="fixed-bottom"></app-footer>
