body{
    margin-bottom: 130px !important;
    /* background-color: #a1dfcc;    */
    min-height: 60vh;
}

img{
    width: 15rem;
}

button:hover{
    opacity: 0.5;
}

p{
    text-align: justify;
    vertical-align: center;
}

