
<div class="mt-5" [ngClass]="{'oscuro': modoOscuro}" style="background-color: inherit; text-align: center" >
    <!-- <div class="mt-5" [class]="bgColor" > -->
    <div style.background-image="url('{{persona.imagen_fondo}}')" id="portada">
    <!-- <img [src]="persona.imagen_fondo" alt="Portada" id="portada"> -->

    <img [src]="persona.picture" alt="Image">
    
    <p  class="mt-2">{{persona.given_name + ' ' + persona.family_name}} </p>

    <p> {{persona.descripcion|| "Descripcion o comentario" }}</p>

    </div>
</div>