.oscuro{
    //background-color:#222;
    color:#fff;
  }

#portada{
  max-height: 20rem;
  z-index: -1;
}
/* 
.bgBack{
  background-color:#222;
}

.bgCyan{
  background-color:#0dcaf0;
}

.bgYellow{     
  background-color:#fcd86b;
}

.bgPink{    
  background-color:#da3f8c,
}

.bgIndigo{    
  background-color:#6610f2;
}

.bgBlue{    
  background-color: #0d6efd;
}

.bgTeal{   
  background-color: #20c997;
}

.bgOrange{
  background-color: #fd7e14;
}  */