<body >
    <div class="d-flex justify-content-center">
        <button type="button" class="btn-close mt-3 border border-3 border-secondary p-2 rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <ul *ngIf="(auth.isAuthenticated$ | async) === false">
        
        <li class="mb-3">
            <app-btn-sidebar-home></app-btn-sidebar-home>
        </li>  
        <hr>  
        <li class="mt-3">
            <div class="d-flex justify-content-center">
                <app-btn-login></app-btn-login>
            </div>
        </li>
        <li class="mt-3">
            <div class="d-flex justify-content-center">
                <app-btn-signup></app-btn-signup>
            </div>
        </li>
    </ul>

    <ul *ngIf="(auth.isAuthenticated$ | async)">        
        <li class="mb-3">
            <app-btn-sidebar-home></app-btn-sidebar-home>
        </li>
        <hr>   
        <li class="mt-3">
            <div class="d-flex justify-content-center">
                <button id="miPerfil" class="btn btn-primary rounded-pill text-center" routerLink="/admin">
                    Mi Perfil
                </button>
            </div>
        </li>     
        <li class="mt-3">
            <div class="d-flex justify-content-center">
               <app-btn-logout></app-btn-logout>
            </div>
        </li>
    </ul>

</body>

