<app-nav></app-nav>

<body class="d-lg-flex align-items-center">  

    <div class="d-lg-flex justify-content-lg-evenly mt-5 w-100">
       
        <div class="card1 col-12 mx-auto mb-3">
          
          <div class="card-body">
            <h5 class="card-title">OneLink Free</h5>
            <p class="card-text">Con Onlink Free podes guardar tus redes sociales en un solo lugar, con solo compartir tu usuario a tus conocidos podran acceder a tu vida social a un solo click. Podras guardar hasta un limite de 10 de tus redes, sin tener que aclarar cada una de ellas. Version gratuita.</p>
          </div>
          <div class="card-footer">
            <app-btn-authentication></app-btn-authentication>
          </div>
        </div>
        
        <div class="card2 col-12 mx-auto mb-3">
          <div class="card-body" style="color: white" >
            <h5 class="card-title">Onelink Plus</h5>
            <p class="card-text">Con Onlink Plus podes guardar todas tus redes sociales como la version Free en un solo lugar, con solo compartir tu usuario a tus conocidos podran acceder a tu vida social a un solo click. Podras guardar hasta un limite de 25 de tus redes, version comercial.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Comprame</a>
          </div>
        </div>
        
        <div class="card3 col-12 mx-auto mb-3">
          <div class="card-body" style="color: white">
            <h5 class="card-title" >Onelink Prime</h5>
            <p class="card-text">Con Onlink Prime podes guardar todas tus redes sociales sin limite en un solo lugar, con solo compartir tu usuario a tus clientes,  ellos podran acceder a tu redes a un solo click. Podras guardar redes sin limite. Ademas de poder contar con una atencion empresarial. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Comprame</a>
          </div>
        </div>
      <br>
    </div>

</body>

  <app-footer class="fixed-bottom"></app-footer>
