nav{   
    position:sticky;
    top: 30px;
    z-index: 1;
}
img{
    width: 15rem;
}

button:hover{
    opacity: 0.5;
}



.card1{
    background-color: yellow;
    width: 20rem;
    border-radius: 15px;
    
}
.card2{
    background-color: green;
    width: 20rem;
    border-radius:15px;
}
.card3{
    background-color: red;
    width: 20rem;
    border-radius: 15px;
}
.btn{
    border-radius: 18px;
    background-color: orange;
    color: black;
    border-color: orange;
}
