<div class="container" >
    <form [formGroup]="formulario" class="m-5" (ngSubmit)="login()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username or email</label>
            <input type="email" formControlName="user"
            [ngClass]="{'is-invalid': user?.errors && user?.touched, 'is-valid': usern?.valid && user?.touched}"
            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div *ngIf="user?.errors && user?.touched">
                <p *ngIf="user?.hasError('required')" class="text-danger">
                    El usuario es requerido
                </p>              
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="pass"
            [ngClass]="{'is-invalid': pass?.errors && pass?.touched, 'is-valid': pass?.valid && pass?.touched}"
            class="form-control" id="exampleInputPassword1">            
            <div *ngIf="pass?.errors && pass?.touched">
                <p *ngIf="pass?.hasError('required')" class="text-danger">
                    La contraseña es requerida
                </p>              
            </div>
        </div>

        <button type="submit" class="btn btn-primary me-2">Enviar</button>
        <button type="submit" class="btn btn-primary" (click)="volverAlHome()">Volver</button>

    </form>
</div>
