<div class="container">

    <h1 class="mt-5 text-center"> Hola {{persona[0].given_name}} {{persona[0].family_name}} </h1>

    <div class="d-flex justify-content-between">
        <h3 class="ms-5 mt-3">Datos personales:</h3>

    </div>
    <div class="mt-5" class="d-flex align-self-center">

        
            <button class="btn btn-outline-secondary" (click)="abrirModalVacio()"> 

        <div >

            <div class="input-group mb-3">
                <h5>url :  </h5>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="  {{persona[0].nickname}}">

            </div>


            <div class="input-group mb-3">
                <h5>Nombre : </h5>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=" {{persona[0].given_name}}">

            </div>
            <div class="input-group mb-3">
                <h5>Apellido :  </h5>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=" {{persona[0].family_name}} ">

            </div>
        </div>
        <div class="input-group mb-3">
            <h5>Acerca De : </h5>
            <input type="text" id="disabledTextInput" class="form-control" placeholder=" {{persona[0].descripcion}} ">

        </div>
        <div class="input-group mb-3">
            <h5>Imagen de fondo : </h5>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="{{persona[0].imagen_fondo}} ">

        </div>
        <div class="input-group mb-3">
            <h5>Logo : </h5>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="{{persona[0].picture }}">

        </div>
    


