body{   
    min-height: 75vh;
}

h5{
    margin-bottom:0;
}
.url{
    width: 25rem;
}
#portada{
    max-width: 15rem;
//    background-color:red;

}
.tarjeta{
    z-index: 1;
    background-color: aliceblue;
}
.boton{
    border-radius: 40px;
}

input, textarea{
    font-size: 20px;
}

img{
  width: 5rem;  
}


