<!-- <div class="container" *ngIf="isLoading else loaded">
    <app-carga></app-carga>
</div> -->

<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-carga></app-carga>
</div>

<ng-template #loaded>
    <nav class="navbar navbar-expand-lg navbar-light alert alert-info mx-4 rounded-pill d-flex justify-content-between">
    
        <div class="ms-3 d-flex align-items-center">        
            <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/YZPYZPW/OneLink.png" alt="">
            </a>
            
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            
                <a class="nav-link" href="#">Redes</a>
    
                <a class="nav-link" href="#">Estilos</a>
    
                <a class="nav-link" target="_blank"routerLink="/{{persona[0].nickname}}" >Mi Link</a>
            
        </div>  
        <div class="d-flex align-self-center me-4">
         
            <app-btn-logout></app-btn-logout>
            
            
        </div>
    
    </nav>

   <!--  <app-user-nuevo *ngIf="usuarioNuevo"></app-user-nuevo> -->

    <app-user-datos *ngIf="!usuarioNuevo" [persona]=persona ></app-user-datos>
    <app-user-redes *ngIf="!usuarioNuevo" [redes]="redes" [idpersonas]="persona[0].idpersonas"></app-user-redes>
    
    <app-btn-eliminar-cuenta [persona]="persona" ></app-btn-eliminar-cuenta>
    <!-- <div *ngIf="!usuarioNuevo else usuarioExiste">
        <app-user-datos  [persona]=persona ></app-user-datos>
        <app-user-redes  [redes]="redes" [idpersonas]="persona[0].idpersonas"></app-user-redes>
    </div> -->
   
</ng-template>

<!-- <ng-template #usuarioExiste>
    <app-user-nuevo></app-user-nuevo>
</ng-template> -->