<!-- <div class="container" *ngIf="isLoading else loaded">
    <app-carga></app-carga>
</div> -->


<p>111111</p>
<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-carga></app-carga>
</div>

<ng-template #loaded>    

    

    <!-- <h1 class="mt-5 text-center"> Hola {{persona[0].given_name}} {{persona[0].family_name}} </h1> -->
    <!-- <app-user-datos *ngIf="!usuarioNuevo" [persona]=persona ></app-user-datos> -->
    <app-user-redes *ngIf="!usuarioNuevo" [redes]="redes" [idpersonas]="persona[0].idpersonas"  [persona]="persona"></app-user-redes>
    




    
    <!-- <div *ngIf="!usuarioNuevo else usuarioExiste">
        <app-user-datos  [persona]=persona ></app-user-datos>
        <app-user-redes  [redes]="redes" [idpersonas]="persona[0].idpersonas"></app-user-redes>
    </div> -->
   
</ng-template>

<!-- <ng-template #usuarioExiste>
    <app-user-nuevo></app-user-nuevo>
</ng-template> -->

<!-- <app-footer></app-footer> -->