.light-theme {
  @import '~bootstrap/scss/bootstrap';

}

.dark-theme {
  $body-bg:       #060606;
  $body-color:    #d6d6d6;
  
  @import '~bootstrap/scss/bootstrap';
}

.vapor-theme {
   // Vapor 5.0.1
// Bootswatch

$theme: "vapor" !default;;

//
// Color system
//

$white:    #fff !default;;
$gray-100: #f8f9fa !default;;
$gray-200: #e9ecef !default;;
$gray-300: #dee2e6 !default;;
$gray-400: #ced4da !default;;
$gray-500: #adb5bd !default;;
$gray-600: #6c757d !default;;
$gray-700: #495057 !default;;
$gray-800: #343a40 !default;;
$gray-900: #170229 !default;;
$black:    #000 !default;;

$blue:    #1ba2f6 !default;;
$indigo:  #6610f2 !default;;
$purple:  #6f42c1 !default;;
$pink:    #ea39b8 !default;;
$red:     #e44c55 !default;;
$orange:  #f1b633 !default;;
$yellow:  #ffc107 !default;;
$green:   #3cf281 !default;;
$teal:    #3f81a2 !default;;
$cyan:    #32fbe2 !default;;

$primary:       $purple !default;;
$secondary:     $pink !default;;
$success:       $green !default;;
$info:          $blue !default;;
$warning:       $yellow !default;;
$danger:        $red !default;;
$light:         #44d9e8 !default;;
$dark:          $gray-900 !default;;

$min-contrast-ratio:   1.2 !default;;

// Options

// $enable-rounded:              false !default;;

// Body

$body-bg:                   #1a0933 !default;;
$body-color:                $cyan !default;;

// Links

$link-color:                              $body-color !default;;

// Components

$border-width:                0 !default;;

$border-radius:               .15rem !default;;
$border-radius-sm:            .05rem !default;;

$component-active-bg:         $pink !default;;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;

$text-muted:                  rgba($body-color, .3) !default;;

$blockquote-footer-color:     $text-muted !default;;

// Tables

$table-color:                 $white !default;;

$table-bg-scale:              0 !default;;

// Forms

$input-bg:                              lighten($body-bg, 10%) !default;;
$input-disabled-bg:                     lighten($body-bg, 5%) !default;;

$input-color:                           $white !default;;

$input-placeholder-color:               rgba($white, .4) !default;;

$input-group-addon-bg:                  $input-disabled-bg !default;;

$form-range-track-bg:             $input-bg !default;;

$form-range-thumb-disabled-bg:             $purple !default;;

// Navs

$nav-link-disabled-color:           $text-muted !default;;

$nav-tabs-link-active-color:        $component-active-bg !default;;

// Pagination

$pagination-bg:                     transparent !default;;

$pagination-focus-bg:               transparent !default;;

$pagination-hover-bg:               transparent !default;;

$pagination-disabled-color:         $text-muted !default;;
$pagination-disabled-bg:            transparent !default;;

// Cards

$card-border-width:                 2px !default;;
$card-cap-color:                    $white !default;;
$card-color:                        $white !default;;

// Tooltips

$tooltip-bg:                        $dark !default;;
$tooltip-opacity:                   1 !default;;

// Popovers

$popover-bg:                        $primary !default;;

$popover-header-color:              $white !default;;

$popover-body-color:                $white !default;;

// Toasts

$toast-color:                       $white !default;;
$toast-background-color:            $primary !default;;

$toast-header-color:                $toast-color !default;;
$toast-header-background-color:     $toast-background-color !default;;

// Modals

$modal-content-color:               $white !default;;
$modal-content-bg:                  $primary !default;;

// Progress bars

$progress-bg:                       $input-disabled-bg !default;;

// List group

$list-group-color:                  $white !default;;
$list-group-bg:                     $input-disabled-bg !default;;
$list-group-hover-bg:               $pink !default;;
$list-group-disabled-color:         $text-muted !default;;
$list-group-action-color:           $body-color !default;;
$list-group-action-hover-color:     $white !default;;
$list-group-action-active-bg:       $list-group-hover-bg !default;;

// Breadcrumbs

$breadcrumb-divider-color:          $text-muted !default;;
$breadcrumb-active-color:           $component-active-bg !default;;

// Fix disappearing <hr>

hr:not([size]) {
  height: 1px !important;
}

@import '~bootstrap/scss/bootstrap';
   
}

/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzRjYWY1MCIsIj9lcjwjYzllN2NiIiwiO2VyPCMzMzk2Mzd$LCIlPmBePCNmZjU3MjIiLCI~ZXI8I2ZmY2RiZCIsIjtlcjwjZmYzYzE0fiwid2Fybj5gXjwjNTEyZGE4IiwiP2VyPCNjYmMwZTUiLCI7ZXI8IzM3MWM4ZH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjExfQ==
*/

@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
     
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #4caf50;
  --primary-lighter-color: #c9e7cb;
  --primary-darker-color: #339637;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}   
$mat-primary: (
  main: #4caf50,
  lighter: #c9e7cb,
  darker: #339637,
  200: #4caf50, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);


body {
  --accent-color: #ff5722;
  --accent-lighter-color: #ffcdbd;
  --accent-darker-color: #ff3c14;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}   
$mat-accent: (
  main: #ff5722,
  lighter: #ffcdbd,
  darker: #ff3c14,
  200: #ff5722, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);


body {
  --warn-color: #512da8;
  --warn-lighter-color: #cbc0e5;
  --warn-darker-color: #371c8d;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}   
$mat-warn: (
  main: #512da8,
  lighter: #cbc0e5,
  darker: #371c8d,
  200: #512da8, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);
;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';  
  .mat-badge-content {
    font-family: 'Roboto';
  }
}
.united-theme{
  // United 5.0.1
// Bootswatch

$theme: "united" !default;;

//
// Color system
//

$white:    #fff !default;;
$gray-100: #f8f9fa !default;;
$gray-200: #e9ecef !default;;
$gray-300: #dee2e6 !default;;
$gray-400: #ced4da !default;;
$gray-500: #aea79f !default;;
$gray-600: #868e96 !default;;
$gray-700: #495057 !default;;
$gray-800: #333 !default;;
$gray-900: #212529 !default;;
$black:    #000 !default;;

$blue:    #007bff !default;;
$indigo:  #6610f2 !default;;
$purple:  #772953 !default;;
$pink:    #e83e8c !default;;
$red:     #df382c !default;;
$orange:  #e95420 !default;;
$yellow:  #efb73e !default;;
$green:   #38b44a !default;;
$teal:    #20c997 !default;;
$cyan:    #17a2b8 !default;;

$primary:       $orange !default;;
$secondary:     $gray-500 !default;;
$success:       $green !default;;
$info:          $cyan !default;;
$warning:       $yellow !default;;
$danger:        $red !default;;
$light:         $gray-200 !default;;
$dark:          $purple !default;;

$min-contrast-ratio:   1.8 !default;;

// Body

$body-color:                $gray-800 !default;;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;

// Tables

$table-dark-bg:               $dark !default;;
$table-dark-border-color:     darken($dark, 5%) !default;;

@import '~bootstrap/scss/bootstrap';
}

.solar-theme{
  // Solar 5.0.1
// Bootswatch
$theme: "solar" !default;;

//
// Color system
//
// stylelint-disable
$white:    #fff !default;;
$gray-100: #fdf6e3 !default;;
$gray-200: #eee8d5 !default;;
$gray-300: #dee2e6 !default;;
$gray-400: #ced4da !default;;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002b36 !default;
$black:    #000 !default;

$blue:    #b58900 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d33682 !default;
$orange:  #fd7e14 !default;
$yellow:  #cb4b16 !default;
$green:   #2aa198 !default;
$teal:    #20c997 !default;
$cyan:    #268bd2 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.5 !default;

// Body
$body-bg:                   $gray-900 !default;
$body-color:                $gray-600 !default;

// Links
$link-color:                $success !default;
$link-hover-color:          $link-color !default;

// Components
$component-active-color:      rgba(255, 255, 255, .75) !default;
$component-active-bg:         $gray-800 !default;

// Fonts
$font-family-sans-serif:      "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Tables
$table-accent-bg:             rgba($white, .05) !default;
$table-hover-bg:              rgba($white, .075) !default;
$table-border-color:          $component-active-bg !default;
$table-dark-bg:               $gray-500 !default;
$table-dark-border-color:     darken($gray-500, 3%) !default;
$table-dark-color:            $body-bg !default;

$table-bg-scale:              0 !default;

// Forms
$input-bg:                              #a9bdbd !default;
$input-disabled-bg:                     #657b83 !default;

$input-color:                           $gray-800 !default;
$input-border-color:                    rgba($black, .15) !default;
$input-placeholder-color:               #657b83 !default;
$input-group-addon-color:               $gray-600 !default;
$input-group-addon-bg:                  $gray-800 !default;

$form-check-input-bg:                     rgba(255, 255, 255, .75) !default;
$form-check-input-border:                 1px solid $white !default;
$form-check-input-checked-bg-color:       $primary !default;

$form-switch-color:               rgba(255, 255, 255, .75) !default;
$form-switch-focus-color:         $form-switch-color !default;

$form-range-track-bg:             $gray-800 !default;
$form-range-thumb-bg:                      $primary !default;

$form-file-button-color:          $gray-600 !default;

// Dropdowns
$dropdown-bg:                       $gray-800 !default;
$dropdown-divider-bg:               $body-bg !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         rgba(255, 255, 255, .75) !default;
$dropdown-link-hover-bg:            $body-bg !default;

// Navs
$nav-tabs-border-color:             $gray-800 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $component-active-color !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbars
$navbar-light-color:                rgba($black, .4) !default; 
$navbar-light-active-color:         rgba($black, .7) !default; 

// Pagination
$pagination-bg:                     transparent !default;
$pagination-border-color:           $gray-800 !default;
$pagination-hover-bg:               $gray-800 !default;
$pagination-hover-border-color:     $gray-800 !default;
$pagination-active-color:           rgba(255, 255, 255, .75) !default;
$pagination-active-bg:              $gray-800 !default;
$pagination-active-border-color:    $gray-800 !default;
$pagination-disabled-color:         $gray-800 !default;
$pagination-disabled-bg:            transparent !default;
$pagination-disabled-border-color:  $gray-800 !default;

// Cards
$card-border-color:                 rgba($gray-900, .95) !default;
$card-cap-bg:                       rgba($gray-800, .25) !default;
$card-bg:                           rgba($gray-200, .125) !default;

// Popovers
$popover-bg:                        $gray-800 !default;
$popover-border-color:              $body-bg !default;
$popover-header-bg:                 $gray-800 !default;

// Toasts
$toast-background-color:            lighten($body-bg, 5%) !default;
$toast-border-color:                rgba(0, 0, 0, .2) !default;
$toast-header-color:                $body-color !default;
$toast-header-background-color:     $toast-background-color !default;
$toast-header-border-color:         $toast-border-color !default;

// Modals
$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $body-bg !default;
$modal-header-border-color:         $body-bg !default;

// Progress bars
$progress-bg:                       $gray-800 !default;
$progress-bar-color:                $primary !default;

// List group
$list-group-color:                  $white !default;
$list-group-bg:                     transparent !default;
$list-group-border-color:           $gray-800 !default;
$list-group-hover-bg:               $gray-800 !default;
$list-group-active-color:           $white !default;
$list-group-disabled-color:         $gray-600 !default;
$list-group-disabled-bg:            transparent !default;
$list-group-action-color:           $body-color !default;
$list-group-action-hover-color:     $white !default;

// Breadcrumbs
$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     $component-active-bg !default;
$breadcrumb-active-color:           $gray-500 !default;
$breadcrumb-border-radius:          .25rem !default;

// Close
$btn-close-color:                       $body-color !default;

// Code
$pre-color:                         inherit !default;

@import '~bootstrap/scss/bootstrap';
}
