/* nav{   
    position:sticky;
    top: 30px;
    z-index: 1;
    height: 95px;
} */
img{
    width: 15rem;
}

button:hover{
    opacity: 0.5;
}

.offcanvas-end {
	top: 0;
	right: 0; 
	max-width: 175px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	
} 
#img-logo{
    max-width: 5rem;
}

.pantallas-pequenias{
    display: none;
}

@media screen and (max-width: 850px) {
   
    #img-logo{
        width: 4rem;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    a img{
        width: 12rem;
    }   
}

